.media_buttons {
brder:solid 1px blue;
width:45%;
position:absolute;
top:230px;
left:180px;

}



.dl_button{
margin-top:10px;
line-height:normal;
position:absolute;
top:50px;
left:0px;
brder:solid 1px aqua;
z-index:1;
height:auto;
max-width:100%;
padding-bottom:10px;
transition:left 0.7s ease-out;
}
.watch_button {
z-index:100;
}
      .watchB,.dlB {
         position: relative;
         display: inline-block;
      }
      .watchB-btn , .dl-btn{
         text-align: center;
         background: transparent;
         border: none;
         width: 150px;
         height:auto;
         color: #f8f9f9;
         padding:0px;
      }
      .watchB-btn img, .dl-btn img{
        brder:solid 1px aqua;
        width:100%;
        height:100%;
      }
      
      .watchB-content, .dl-content {
         width: 71%;
         box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);
         max-height: 0px;
         transition: max-height 1s;
         overflow: hidden;
         margin:-11px 0px 0px 34px;
         border:solid 1px red;
         border-radius:5px;
         border-top-left-radius:5px;
         pdding:5px 0 2px 0;
         font-size:small;
         text-align:center;
         line-spacing:5em;
     viibility:hidden;
     background:white;
      }
      .watchB:hover > .watchB-cntent {
      vsibility:visible;
       max-height: 110px;
      }
      .watchB:hover > .dl_button{
    border:solid 1px red;
      max-height: 110px;
      }
      .watch_link,.dl_link  {
        border-bottom:solid 1px red;
         display: block;
         height:36px;
         box-sizing:border-box;
         padding: 3px 0px 0px 0px;
         text-decoration: none;
         color: black;
         font-weight:bold;
         line-height:1.2em;
         text-decoration:none;
      }
      
      
      
      
      .dl-btn {
        width:150px;
        height:auto;
      }
      .dl-content {
        border:solid 1px #03AEF8;
        width:73%;
        margin:-17px 0px 0px 40px;
        border-top-right-radius:0px;
      }
      .dl_link {
        border-bottom:solid 1px #03AEF8;
      }